<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>

<body>

    <%- include('common/header') %> 

    <h1>Profile Page <%= user.name %> and i come from <%= user.city %> and you can contact on my mail which is <%=
                    user.email %>
    </h1>

    <% user.skills.forEach((item)=> { %>
        <ul>
            <li>
                <%= item %>
            </li>
        </ul>
        <% }) %>
</body>

</html>